<template>
  <div class="text-center window-width" v-if="!initialized">
    <q-spinner-bars
      class="q-ma-xl"
      color="primary"
      size="15%"
    />
  </div>
  <router-view v-else />
</template>

<script>
import { defineComponent } from 'vue'
import { storeToRefs } from 'pinia'
import { useSessionStore } from 'stores/session'
import { useQuery } from '@vue/apollo-composable'
import CurrentSessionQuery from './queries/current_session.js'
import { apolloClient } from './boot/apollo';
import { ApolloLink } from '@apollo/client/core';
import { createConsumer } from '@rails/actioncable';
import ActionCableLink from 'graphql-ruby-client/subscriptions/ActionCableLink';

export default defineComponent({
  name: 'App',
  setup() {
    const sessionStore = useSessionStore()

    const { initialized } = storeToRefs(sessionStore)

    const { onResult: setSession } = useQuery(CurrentSessionQuery, {}, {
      fetchPolicy: 'network-only'
    })

    setSession((queryResult) => {
      const token = queryResult.data.currentSession.uuid
      if (localStorage.getItem('session-token') !== token) {
        localStorage.setItem('session-token', token);
      }

      const cableUri = `${process.env.GRAPHQL_URI_WS}?token=${token}`;
      const cable = createConsumer(cableUri);
      const actionCableLink = new ActionCableLink({ cable });

      const hasSubscriptionOperation = ({ query: { definitions } }) => {
        return definitions.some(
          ({ kind, operation }) =>
            kind === 'OperationDefinition' && operation === 'subscription'
        );
      };

      const newLink = ApolloLink.split(
        hasSubscriptionOperation,
        actionCableLink,
        apolloClient.link
      );

      apolloClient.setLink(newLink)

      sessionStore.setUser(queryResult.data.currentSession.user)
      sessionStore.setInitialized()
    })

    return {
      initialized
    }
  }
})
</script>
