<template>
  <q-page padding>
    <div class="q-mx-auto">
      <q-scroll-area style="height: 500px;" class="q-px-lg">
        <q-chat-message
          v-for="message in reversedMessages"
          :key="message.uuid"
          :text="[message.content]"
          :sent="message.user.uuid == selfUuid"
          :name="message.user.name"
          />
      </q-scroll-area>
      <q-input autofocus @keyup.enter="sendMessage" type="text" placeholder="New Message" label="New Message" v-model="newMessage" />
    </div>
  </q-page>
</template>

<script>
import { ref, computed } from 'vue'
import { storeToRefs } from 'pinia'
import { useSessionStore } from 'stores/session'
import { useMutation, useSubscription } from '@vue/apollo-composable'
import { useRoute } from "vue-router"
import ChatroomMessagesSubscription from '../subscriptions/chatroom_messages'
import MessageCreateMutation from '../mutations/message_create'

export default {
  name: 'ChatroomPage',
  setup() {
    const sessionStore = useSessionStore()
    const { uuid: selfUuid } = storeToRefs(sessionStore)
    const route = useRoute()
    const uuid = route.params.uuid
    const messages = ref([])
    const newMessage = ref('')

    const { onResult: handleMessage } = useSubscription(ChatroomMessagesSubscription, {
      chatroomUuid: uuid
    }, {
      fetchPolicy: 'cache-and-network'
    })

    const { mutate: sendMessageMutation } = useMutation(MessageCreateMutation)

    handleMessage(result => {
      const newMessages = result.data.chatroomMessages.messages
      messages.value.push(...newMessages)
    })

    const sendMessage = () => {
      sendMessageMutation({
        chatroomUuid: uuid,
        messageInput: {
          content: newMessage.value
        }
      })
      newMessage.value = ""
    }

    const reversedMessages = computed(() => messages.value.slice().reverse())

    return {
      messages,
      selfUuid,
      newMessage,
      sendMessage,
      reversedMessages
    }
  }
}
</script>
