<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />
        <q-btn dense flat round v-if="authenticated" icon="logout" @click="logout"/>

        <q-toolbar-title>
          Chat-App
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <ChatroomList />
    </q-drawer>

    <q-page-container>
      <router-view  :key="$route.fullPath"/>
    </q-page-container>

    <q-dialog v-model="isNotAuthenticated" persistent transition-show="fade" transition-hide="fade">
      <LoginForm/>
    </q-dialog>
  </q-layout>
</template>

<script>
import { ref, computed } from 'vue'
import { useMutation } from '@vue/apollo-composable'
import LogoutMutation from '../mutations/logout.js'
import ChatroomList from 'components/ChatroomList.vue'
import LoginForm from 'components/forms/LoginForm.vue'
import { useSessionStore } from 'stores/session'
import { storeToRefs } from 'pinia'

export default {
  components: {
    ChatroomList,
    LoginForm
  },
  setup () {
    const leftDrawerOpen = ref(false)
    const sessionStore = useSessionStore()
    const { authenticated } = storeToRefs(sessionStore)
    const { mutate } = useMutation(LogoutMutation)

    const isNotAuthenticated = computed(() => {
      return !authenticated.value
    })

    const logout = () => {
      mutate()
      sessionStore.setUser(null)
    }

    return {
      leftDrawerOpen,
      authenticated,
      isNotAuthenticated,
      logout,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
}
</script>
