<template>
  <q-list bordered separator v-if="result">
    <q-item clickable v-ripple v-for="chatroom in result.chatrooms" :key="chatroom.uuid" :to="`/chatroom/${chatroom.uuid}`">
      <q-item-section>
        {{ chatroom.name }}
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { useQuery } from "@vue/apollo-composable"
import ChatroomsQuery from '../queries/chatrooms.js'

export default {
  name: 'ChatroomList',
  setup () {
    const { result } = useQuery(ChatroomsQuery, {}, {
      fetchPolicy: 'cache-and-network'
    })

    return {
      result
    }
  }
}
</script>
