<template>
  <q-card>
    <q-card-section>
      <q-form
        @submit="submitLogin"
        class="q-gutter-md"
      >
        <q-input type="text" v-model="form.email" label="Email" placeholder="Email"/>
        <q-input type="password" v-model="form.password" label="Password" placeholder="Password"/>
      </q-form>
    </q-card-section>
    <q-card-actions>
      <q-btn label="Login" :disable="loading" @click="submitLogin"/>
    </q-card-actions>
  </q-card>
</template>

<script>
import { ref } from 'vue'
import { useMutation } from '@vue/apollo-composable'
import { useSessionStore } from 'stores/session'
import LoginMutation from '../../mutations/login.js'

export default {
  name: 'LoginForm',
  setup () {
    const form = ref({
      email: '',
      password: ''
    })

    const sessionStore = useSessionStore()

    const { mutate, loading } = useMutation(LoginMutation)

    const submitLogin = async () => {
      if (loading.value) {
        return false
      }
      const result = await mutate(form.value)

      if (result.data.login.user) {
        sessionStore.setUser(result.data.login.user)
      }
    }

    return {
      form,
      submitLogin,
      loading
    }
  }
}
</script>
